MESSENGER_TOKEN=EAHZCIqtbPMO...    # Page Access Token من Facebook
VERIFY_TOKEN=flight_bot_secret      # اخترلك اي كلمة سر انت
SERPAPI_KEY=74abd9d2ff76ba56...     # SerpAPI Key
RAPIDAPI_KEY=7348411a71msh614...    # RapidAPI Key
